@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*navbar inicio*/
.navbar{
    position: fixed;
    width: 100%;
    padding:30px 0px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3 ease;
}
.navbar.sticky{
    background:#00804b;
    padding:15px 0px;
    
}
.navbar .max-width {
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #fff;
}
.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 500;

}
.navbar .logo a span{
    color: #00804b;
}
.navbar.sticky .logo a span{
    color:whitesmoke;
    transition: all 0.3s ease;
} 
.navbar .menu li{
    list-style:none;
    display: inline-block; 
   
}

.navbar .menu li a{
    color:#fff; 
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.4s ease;
}


.navbar .menu li a:hover{
    color: #00804b;
    transition: all 0.04 ease;
	transform: scale(1.0);
}


.navbar.sticky #nav .menu li a:hover{
    color: gray;
}
/*home inicio*/
.home{
    display: flex;
    background: url("/images/capa.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin:  auto 0 auto  40px;
}

.home .home-content .text-1{
    font-size: 27px;
    
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    
}
.home .home-content .text-3 span{
color: #00804b;
font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 25px;
    padding:  12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
}
.home .home-content a:hover{
     color:#00804b;
     background: none;
    }

 /*menu Mobile*/
#menu-btn{
    border: none;
    background: none;
    color:#fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
@media(max-width: 1104px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media(max-width: 991px){
    .navbar .max-width{
    padding:  0 50px;
    }
}

@media(max-width: 810px){
    
.max-width{  
    padding: 0 50px;
}
#menu-btn{
    display: block;
   
}


#menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 55%;
    left: 0;
    top: 70px;
    background: rgba(0, 0, 0, 0.897);
    padding-top: 0px;
    text-align: center;
    
}
#menu li{
    display: block;
}
#menu li a{
    display: block;
    margin: 20px 0;
    font-size: 25px;
}
}
#menu  a:hover{
    color: #00804b;
}
#nav.active #menu{
    display: block;

}

.home .home-content .text-2{
    font-size: 70px; 
}
.home .home-content .text-3{
    font-size: 35px;        
}

@media(max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px; 
    }
    .home .home-content .text-3{
        font-size: 25px;        
    }
}
@media(max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px; 
    }
    .home .home-content .text-3{
        font-size: 27px;        
    }
}


#btn-mobile{
    display: none;
}
/*
@media(max-width: 600px){
    #btn-mobile{
        display: block;
       
    } 
  
    #menu{
       
        display:none;       
        position:absolute;
        top:70px;
        left: 0;
        width: 100%;
        background: #111;
    }
    #nav.active #menu{
        display: flex;

    }
}
*/
/*Todos os codigos similares*/
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu' sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform:translateX(-50%) ;
}
section .title::after{
   
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #00804b;
    padding: 5px;
    transform:translateX(-50%) ;
}
.about, .project, .skills, .contact, footer{
    font-family: 'Robot' sans-serif;
}
.about .about-content, .project, .project-content, .skills .skills-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*sessão sobre*/


.about .title::after{
    content:"Quem sou eu";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
   font-size: 25px;
   font-weight: 500;
   margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #00804b;
}
.about .about-content .right p{
    text-align: justify;
}
/*
.about .about-content .right a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid #00804b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color:#00804b;
    background: none;
}*/

.about .about-content .left img{
   width:400px;
   height: 400px;
   object-fit: cover;
   border-radius: 6px;
   margin-left: 2cm;
   
}
/* Sessão Project*/
.project{
    background: #111;
    color:#fff;
   

}
.project .title::after{
    background: #111;
    content:"Feitos por mim";
   
}
.project .title::before{
    background: #fff;

}
.project .project-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.git{
    color:#fff;
}
.git::after{
    text-decoration: none;
    color:whitesmoke;
    list-style:none;

}
.git::before{
    text-decoration: none;
    color:whitesmoke;
    list-style:none;

}
.git:hover{
    color:whitesmoke;
    list-style:none;
}
.project .project-content .card:hover{
    background: #00804b;
}
.project .project-content .card:hover .box ion-icon{
   color: #fff;
}
.project .project-content .card .box{
    transition: all 0.3 ease;
}
.project .project-content .card:hover .box{
    transform: scale(1.05);

}
.project .project-content .card ion-icon{
    font-size: 70px;
    color:#00804b;
}
.project .project-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*Sessão Especialidades*/
.skills .title::after{
    content: "Que Obtenho";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
   font-weight: 500;
   margin-bottom: 10px;

}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left  a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid #00804b;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}
.skills .skills-content .left  a:hover{
    color:#00804b;
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .info{
   display: flex;
   align-items: center;
   justify-content: space-between;
    
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position:absolute;
    height:100%;
    top:0;
    left:0;
    background: #00804b;
}
.skills .skills-content .right .java::before{
    width:83%;
}
.skills .skills-content .right .c::before{
    width:76%;
}
.skills .skills-content .right .html::before{
    width: 55%;
}
.skills .skills-content .right .css::before{
    width: 48%;
}
.skills .skills-content .right .js::before{
    width: 33%;
}
/*Sessão Contato*/
.contact{
    background: #ccc;
    color:#111;

}
.contact .title::after{
    content: "Fale Comigo";
    background: #ccc;

}
.contact .title::before{
    background: #111;

}
.contact .contact-content .column{
    width: calc(50% - 30px);

}
.contact .contact-content{
    align-items: flex-start;
}
.contact .contact-content .left p{
        text-align: justify;
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content  .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content  .row ion-icon{
    font-size: 25px;
    color: #00804b;
}
.contact .contact-content .row .info .head{
   font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
 }
 .contact .right form .fields{
    display: flex;
 }
 .contact .right form .fields,  
 .contact .right form .fields .field{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
 }
 
 .contact .right form .fields input, 
 .contact .right form .textarea textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
 }
 .contact .right form .name{
    margin-right: 10px;
 }
 .contact .right form .email{
    margin-right: 10px;
 }

 .contact .right form .textarea{
    width: 100%;
    height: 80px;

 }
 .contact .right form .textarea textarea{
   padding-top: 10px;
   resize: none;

 }
 .contact .right form .button{
    width:150px;
    height: 40px;

 }
 .contact .right form .button button{
    margin-top: 15px;
    width:100%;
    height: 100%;
    border: 2px solid #00804b;
    background: #00804b;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3 ease;
   
    
 }
 .contact .right form .button button:hover{
    color:#00804b;
    background: none;
 }
 /*Sessão footer*/
 footer{
    padding: 20px 23px;
    background: #111;
    color: #fff;
    text-align: center;
 }
 
 .footer .left .redes a{
    text-decoration: none;
    color:#00804b;
    margin-left: 1px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    transition: all 0.4 ease;
   
 }
 .footer .left .redes a:hover{
    color:#fff;
}
.footer .left .redes a::after{
    color:#00804b;
}


/*Pa r deixar responsivo(adaptavel)
esboço:

    @media(max-width:1104px){
    .navbar .max-width {
       margin-left: 0;
    }
}
@media(max-width:991){
    .navbar .max-width {
      padding:0 50px;
    }
}
*/

@media(max-width:1200px){
    .max-width{
        padding: 0 50px;
        
    }footer{
        padding: 60px 43px;
    }
   .home .home-content .text-2{
        font-size: 40px; 
        transition: all 0.3s;    
    }
    .home .home-content .text-3{
        font-size: 35px;
        transition: all 0.3s;
    }
    .home .home-content a{
        display: inline-block;
        font-size: 15px;
        padding:  10px 30px;
        transition: all 0.3s;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left img{
        width:220px;
        height: 300px;
        margin: 0;
        transition: all 0.3s;
     }
     .about .about-content .right .text{
       font-size: 18px;
       transition: all 0.3s;
      
     }
     
}
@media(max-width:771px){
    .max-width{
        padding: 0 50px;
        
    }
   .home .home-content .text-2{
        font-size: 40px;  
        transition: all 0.3s;   
    }
    .home .home-content .text-3{
        font-size: 35px;
        transition: all 0.3s;
    }
    .home .home-content a{
        display: inline-block;
        font-size: 15px;
        padding:  10px 30px;
        transition: all 0.3s;
    
    }
    .about .about-content .column{
        width: 50%;
        transition: all 0.3s;
    }
    .about .about-content .left img{
        width:300px;
        height: 300px;
        transition: all 0.3s;
      
     }
     .project .project-content .card{
        width: calc(50% - 10px);
        margin-bottom:20px;
        transition: all 0.3s;
     }
}
@media(max-width:701px){
    .about .about-content .left img{
        width:220px;
        height: 290px;
        transition: all 0.3s;
     }
}



@media(max-width:675px){ 
    .about .about-content .left img{
        width:290px;
        height: 290px;
        transition: all 0.3s;
     }
     .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        transition: all 0.3s;
      }
      .about .about-content .right{
         flex: 100%;
         transition: all 0.3s;
      }
      .project .project-content .card{
        width: 100%;
        transition: all 0.3s;
     }
     .skills .skills-content .column, 
     .contact .contact-content .column{
        width: 100%;
        transition: all 0.3s;
     }
}

@media(max-width:365px){
    .contact .contact-content .row #icon-email{
        font-size: 25px;
    }

}


